grant codeBase "file:C:/Users/hp/Desktop/rmi_exam/ExamServer/src/" {
  permission java.security.AllPermission;
};

grant {
  permission java.security.AllPermission;
};